/*IMPORTS****************************/
/*Normalize*/
@import "modules/normalize.css";
/*Sizes*/
@import "sizes/tablet.css";
@import "sizes/mobile.css";

/*VARIABELN**************************/
:root{
  /*Farben*/
  --co-hauptfarbe: #27348B;
  --co-hauptfarbe-80: #4D5AB5;
  --co-hauptfarbe-50: #9FA6DB;
  --co-akzent-neg: #EB0001;
  --co-akzent-pos: #BBE01D;
  --co-positiv: #000000;
  --co-negativ: #ffffff;
}

/*ALLGEMEIN**************************/
/*Grundeinstellungen*/
* {
  margin: 0 0;
  padding: 0 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/*Markierfarbe*/
::selection {
  background: var(--co-hauptfarbe);
  color: var(--co-hauptfarbe-50);
}

::-moz-selection {
  background: var(--co-hauptfarbe);
  color: var(--co-hauptfarbe-50);
}

/*Schriften*/