/****************************************************************************GRUNDEINSTELLUNGEN*/

/******************************************/
/*IMPORTS**********************************/
/******************************************/
@import "modules/normalize.css";
@import "modules/map.css";
@import "modules/fonts.css";
@import "modules/resets.css";


/******************************************/
/*VARIABELN********************************/
/******************************************/
:root{
  /*Farben*/
  --co-hauptfarbe: #E84646;
  --co-hauptfarbe-50: #77BDBE;
  --co-akzent-fancy: #F7BB17;
  --co-akzent-fancy-switch: #F7BB17;
  --co-akzent-neg: #3e0606/*#F36C1A*/;
  --co-akzent-pos: #42b360/*#98B342*/;
  --co-positiv: #000000;
  --co-negativ: #FFFFFF;
  /*Schriffarben*/
  --co-typo-darkred: #860D0D;
  --co-typo-darkyellow: #B06A00;
  --co-typo-darkblue: #135657;
  /*Schriften*/
  --f-l-bold: 700  1.875rem/106% Heebo, sans-serif;
  --f-m-bold: 700 1.25rem/110% Heebo, sans-serif;
  --f-m-light: 400 1.25rem/110% Heebo, sans-serif;
  --f-s-bold: 700 0.725rem/110% Heebo, sans-serif;
  --f-s-light: 400 0.725rem/110% Heebo, sans-serif;
  --f-m-textschrift: 400 1rem/110% Heebo, sans-serif;
  /*Abstände*/
  --ga-around: 40px;
  --ga-sml: calc( var(--ga-around) / 2 );
  --ga-mini: 7px;
  --ga-buttons: 12px;
  /*Grössen*/
  --sz-w-screen-fix: 100vw;
  --sz-w-screen: 414px;
  --sz-w-minusgaps-fix: calc( var(--sz-w-screen-fix) - calc( var(--ga-around) * 2 ) );
  --sz-w-minusgaps: calc( var(--sz-w-screen) - calc( var(--ga-around) * 2 ) );
  --sz-h-minusgaps: calc( 100vh - calc( var(--ga-around) * 2 ) );
  --sz-h-minusgaps: calc( calc(var(--vh-calc, 1vh) * 100) - calc( var(--ga-around) * 2 ) );
  /*Grids*/
  --gr-dreier: repeat(3, 1fr);
}


/******************************************/
/*ANIMATIONEN******************************/
/******************************************/
/*Blinkende Dots*/
@keyframes flashlight {
  from {border: 1px solid var(--co-negativ);}
  to {border: 1px solid var(--co-akzent-fancy);}
}
/*Animation des Zugs*/
@keyframes trainmove {
  from {transform: translateX(-200vw);}
  to {transform: translateX(100vw);}
}

/****************************************************************************STYLING DER SEITE*/

/******************************************/
/*GRUNDSTRUKTUR****************************/
/******************************************/
/*Hintergrundfarben Seite*/
body{
  background-color: var(--co-hauptfarbe);
  color: var(--co-typo-darkred);
}
body.play{
  background-color: var(--co-negativ);
}
/*Hauptcontainer*/
main{
  max-width: var(--sz-w-screen);
  width: 100%;
  margin: 0 auto;
}
/*Grundaufbau der Seite über alle Pages*/
section.maincontainer{
  max-width: var(--sz-w-screen);
  width: 100%;
  min-height: 100vh;
  min-height: calc(var(--vh-calc, 1vh) * 100);
  height: auto;
  padding: var(--ga-around);
}
/*Grundeinstellungen zu Schriften*/
h1,
h2,
h3{
  font: var(--f-l-bold);
  padding: 0 0;
  margin: 5px 0;
}
p{
  font: var(--f-m-light);
  margin: 5px 0;
  padding: 0 0;
}
p.subinfo{
  font: var(--f-s-bold);
  margin-bottom: var(--ga-sml);
}

/*Gametitle*/
.gametitle{
  opacity: 0.6;

}


/******************************************/
/*NAVIGATION*******************************/
/******************************************/
/*Toggle*/
div.navigation p{
  cursor: pointer;
  position: fixed;
  color: var(--co-typo-darkyellow);
  background-color: var(--co-akzent-fancy);
  padding: 10px;
  top: 0;
  right: 0;
  margin: 0 0;
  z-index: 3;
  width: 32px;
  transition: 0.5s;
}
div.navigation.open p{
  color: var(--co-akzent-fancy);
  background-color: var(--co-typo-darkyellow);
}
/*Navigationscontainer*/
div.navigation nav{
  max-width: var(--sz-w-screen);
  width: var(--sz-w-screen-fix);
  height: 100vh;
  height: calc(var(--vh-calc, 1vh) * 100);
  padding: var(--ga-around);
  background-color: var(--co-akzent-fancy);
  color: var(--co-typo-darkyellow);
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  transform: translateY(-120vh);
  transition: 0.5s;
  z-index: 2;
}
div.navigation.open nav{
  transform: translateY(0vh);
}
/*Aufbau Nav im Container*/
div.navigation nav ul{
  list-style-type: none;
  padding: 0 0;
}
div.navigation nav li{
  font: var(--f-l-bold);
  padding: var(--ga-mini) 0;
}
div.navigation nav li.sml{
  font: var(--f-m-bold);
  position: absolute;
  bottom: var(--ga-around);
}
div.navigation nav a{
  color: inherit;
  text-decoration: none;
}


/******************************************/
/*BUTTONS UND EINGABEFELDER****************/
/******************************************/
/*Buttons*/
button{
  background-color: var(--co-akzent-fancy);
  color: var(--co-typo-darkyellow);
  cursor: pointer;
  padding: var(--ga-buttons) 0;
}
button p{
  padding: 0 0;
  margin: 0 0;
}
button.full{
  max-width: var(--sz-w-minusgaps);
  width: var(--sz-w-minusgaps-fix);
  border: none;
}
button.full p{
  font: var(--f-l-bold);
}
/*Input Submit*/
input[type="submit"]{
  background-color: var(--co-akzent-fancy);
  color: var(--co-typo-darkyellow);
  font: var(--f-m-bold);
  cursor: pointer;
  padding: var(--ga-buttons) 0;
}
/*Input sonstig*/
input[type="text"]{
  font: var(--f-l-bold);
  color: var(--co-hauptfarbe-50);
  border: none;
  background-color: transparent;
  border-bottom: 2px solid var(--co-hauptfarbe-50);
  max-width: var(--sz-w-minusgaps);
  width: var(--sz-w-minusgaps-fix);
  margin-top: var(--ga-mini);
  padding: var(--ga-mini) 0;
  border-radius: 0;
  overflow: visible;
}
/*Buttonbox*/
div.buttonbox{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
div.buttonbox>*{
  padding: var(--ga-buttons);
  width: 100%;
  margin: 5px;
}
div.buttonbox :first-child{
  margin-left: 0px;
}
div.buttonbox :last-child{
  margin-right: 0px;
}
div.buttonbox button,
div.buttonbox input[type="submit"]{
  width: 100%;
  border: 0px;
  border-radius: 0px;
  background-color: var(--co-akzent-fancy);
  color: var(--co-typo-darkyellow);
}
div.buttonbox button p,
div.buttonbox input[type="submit"] p{
  font: var(--f-m-bold);
}


/******************************************/
/*GAME*************************************/
/******************************************/

/*Infoscreeen***************/
/*Allgemeines*/
section#infoscreen{
  background-color: var(--co-negativ);
  color: var(--co-hauptfarbe);
  display: block;
  transition: 0.5s;
}
section#infoscreen.hide{
  display: none;
}
section#infoscreen #infoscreen_flex{
  height: var(--sz-h-minusgaps);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
section#infoscreen div.infobox{
  padding-bottom: var(--ga-sml);
}
section#infoscreen div.infobox :first-child{
  color: var(--co-hauptfarbe);
}
section#infoscreen div.infobox :last-child{
  color: var(--co-hauptfarbe-50);
}
section#infoscreen button.full{
  background-color: var(--co-hauptfarbe);
  color: var(--co-typo-darkred);
  margin-top: var(--ga-sml);
}
/*Dropdown im Freeplay*/
section[data-level="freeplay"] div.infobox{
  margin-top: var(--ga-around);
}
section#infoscreen div#possiblePlaces{
  background-color: var(--co-hauptfarbe-50);
  width: 100%;
  display: none;
  border-radius: 0px;
  border: none;
  font: var(--f-m-bold);
}
section#infoscreen div.open#possiblePlaces{
  display: block;
  margin-top:var(--ga-mini);
}
section#infoscreen div#possiblePlaces p{
  cursor: pointer;
  color: var(--co-negativ);
  opacity: 0.5;
  font: var(--f-m-bold);
  padding: var(--ga-mini);
  border-bottom: 1px solid var(--co-negativ);
  width: 100%;
  margin: 0 0;
}

/*Gamecontainer*********************/
section#game{
  display: block;
  height: auto;
}
section#game.hide{
  display: none;
}
section#game article{
  max-width: var(--sz-w-screen);
  width: var(--sz-w-screen-fix);
  margin-left: calc( var(--ga-around) * -1 );
}

/*Cockpit***************************/
/*Basics*/
section#game article#ct_cockpit{
  margin-top: calc( var(--ga-around) * -1 );
  padding: calc( var(--ga-around) * 1.5 ) calc( var(--ga-around) / 2 ) calc( var(--ga-around) / 2 ) calc( var(--ga-around) / 2 );
  background-color: var(--co-hauptfarbe);
  color: var(--co-typo-darkred);
}
section#game article#ct_cockpit p,
section#game article#ct_cockpit_added p{
  font: var(--f-s-bold);
  width: 100%;
  white-space: nowrap;
}
section#game article#ct_cockpit p#levelModus{
  position: absolute;
  top: 1em;
  left: 1em;
}
/*Button*/
section#game article#ct_cockpit span.indicator{
  background-color: var(--co-typo-darkred);
  width: 10px;
  height: 10px;
  border-radius: 100%;
  display: block;
  margin: 0 auto;
}
/*Box für Inhalte*/
section#game article#ct_cockpit div.timespan{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  position: relative;
  z-index: 1;
}
section#game article#ct_cockpit div.timespan::-webkit-scrollbar{
  display: none;
}
section#game article#ct_cockpit div#journeyInfo{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: auto;
}
/*Linie*/
article#ct_cockpit hr{
  width: calc( 100vw - calc( var(--ga-sml) * 2 ) );
  position: absolute;
  border: none;
  border-bottom: 1px solid var(--co-typo-darkred);
  margin-top: -28px;
  z-index: 0;
}
/*Alle Einzelnen Orte*/
section#game article#ct_cockpit div.timespan div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
}
/*Einzelne Orte*/
section#game article#ct_cockpit div#journeyInfo div{
  width: 100%;
  padding: 0 10px;
}
section#game article#ct_cockpit div#journeyInfo div:last-of-type span{
  background-color: var(--co-hauptfarbe);
  border: 1px solid var(--co-typo-darkred);
  animation: flashlight 0.5s ease 0s infinite alternate;
}
/*Modifikationen*/
section#game article#ct_cockpit div.timespan>div:last-of-type p{
  color: var(--co-akzent-fancy-switch);
}
section#game article#ct_cockpit div.timespan>div:last-of-type span{
  background-color: var(--co-akzent-fancy-switch);
}
/*Level-Anzeige*/
section#game article#ct_cockpit p#levelModus{
  position: absolute;
  left: 0;
  top: 0;
  background-color: var(--co-akzent-fancy);
  color: var(--co-typo-darkyellow);
  width: auto;
  padding: var(--ga-mini);
  margin: var(--ga-sml);
}
/*Zusatz-Infos darunter*/
section#game article#ct_cockpit_added{
  padding: 5px calc( var(--ga-around) / 2 );
  background-color: var(--co-akzent-fancy);
  color: var(--co-typo-darkyellow);
  position: relative;
  z-index: 1;
}

/*Fahrplan**********************/
section#game div.ct_connection{
  background-color: var(--co-hauptfarbe);
  color: var(--co-typo-darkred);
  padding: var(--ga-sml);
}
section#game div.ct_connection:not(:first-of-type){
  margin-top: var(--ga-mini);
}
section#game div.ct_connection div.info_basic{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: var(--ga-mini) 0;
}
section#game button.btn_more{
  background-color: var(--co-hauptfarbe-50);
  color: var(--co-typo-darkblue);
  font: var(--f-m-bold);
  border: none;
  height: auto;
  width: 10%;
  padding: var(--ga-mini) var(--ga-mini) 3px var(--ga-mini);
}
section#game div.info_extended{
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  width: auto;
  overflow-x: scroll;
  overflow-y: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
section#game div.info_extended::-webkit-scrollbar{
  display: none;
}
section#game button.btnPlace{
  background-color: var(--co-hauptfarbe-50);
  color: var(--co-typo-darkblue);
  border: none;
  padding: var(--ga-mini);
  width: auto;
  margin-right: var(--ga-mini);
  white-space: nowrap;
  font: var(--f-m-light);
}
section#game button.btnPlace:last-child{
  background-color: var(--co-typo-darkblue);
  color: var(--co-hauptfarbe-50);
}

/*Load More Button*******************/
section#game article#loadMore{
  padding: var(--ga-around) var(--ga-around) 0 var(--ga-around);
}

/*Zwischenscreens********************/
/*generell*/
section#game article#ct_gameWon, 
section#game article#ct_gameLost, 
section#game article#ct_journeyinfo, 
section#game article#ct_freeGameWon{
  position: absolute;
  z-index: 1;
  padding: var(--ga-around);
  height: 50vh;
  height: calc(var(--vh-calc, 1vh) * 50);
  overflow-y: hidden;
  overflow-x: hidden;
  color: var(--co-negativ);
}
/*aktuelle fahr*/
section#game article#ct_journeyinfo{
  background-color: var(--co-hauptfarbe-50);
}
section#game article#ct_journeyinfo h2{
  padding-bottom: var(--ga-around);
}
section#game article#ct_journeyinfo img{
  filter: invert(100);
  width: 200vw;
  animation: trainmove 2.4s ease 0s infinite alternate;
}
/*ende des spiels*/
section#game article#ct_gameWon{
  background-color: var(--co-akzent-pos);
}
section#game article#ct_gameLost {
  background-color: var(--co-akzent-neg);
}
section#game article#ct_freeGameWon{
  background-color: var(--co-hauptfarbe-50);
  color: var(--co-typo-darkblue);
}


/******************************************/
/*INHALTSSEITEN****************************/
/******************************************/

/*Startseite********************/
section#index{
  background-color: var(--co-hauptfarbe);
  color: var(--co-typo-darkred);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--ga-around);
}

/*Modusseite********************/
section#choosemode{
  background-color: var(--co-hauptfarbe);
  color: var(--co-typo-darkred);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
section#choosemode div{
  padding-top: var(--ga-sml);
}
section#choosemode div.flex{
  padding: 0 0;
  display: grid;
  grid-gap: var(--ga-sml);
  grid-template-columns: var(--gr-dreier);
}
section#choosemode div.flex input[type="submit"]{
  height: auto;
  width: 100%;
  border: none;
}

/*Contentpages********************/
section.maincontainer#contentpage{
  color: var(--co-typo-darkred);
}
section.maincontainer#contentpage a{
  text-decoration: underline;
}
section.maincontainer#contentpage a:hover{
  text-decoration: none;
}
section.maincontainer#contentpage img{
  width: 100%;
}
section.maincontainer#contentpage p{
  font-size: 1rem;
  padding: 0 0 5px 0;
}
section.maincontainer#contentpage h2{
  margin: 0 0;
  padding: 25px 0 3px 0;
  font: var(--f-m-bold);
}
section.maincontainer#contentpage h3{
  margin: 0 0;
  padding: 8px 0 3px 0;
  font: var(--f-m-bold);
  font-size: 1rem;
  color: var(--co-akzent-fancy);
}
section.maincontainer#contentpage ul li{
  font: var(--f-m-textschrift);
  padding: 5px 0;
}

/*Anlelitung*********************************/
section.maincontainer#contentpage article#tutorial{
  color: var(--co-typo-darkred);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  min-height: var(--sz-h-minusgaps);
  padding-top: 50px;
}
section.maincontainer#contentpage article#tutorial div{
  padding-bottom: 50px;
}
section.maincontainer#contentpage article#tutorial button p{
  font: var(--f-l-bold); 
}
section.maincontainer#contentpage article#tutorial button p a{
  text-decoration: none;
}
section.maincontainer#contentpage article#tutorial img{
  border: 2px solid var(--co-negativ);
  margin-top: 25px;
}

/*404****************************************/
section.maincontainer#error{
  color: var(--co-negativ);
  height: 100vh;
  height: calc(var(--vh-calc, 1vh) * 100);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
section.maincontainer#error article:first-of-type{
  text-align: center;
}
section.maincontainer#error h1{
  font-size: 5rem;
}

/****************************************************************************DESKTOPANPASSUNGEN*/

@media only screen and (min-width: 1024px) {
  /******************************************/
  /*NAVIGATION*******************************/
  /******************************************/
  /*Navigationscontainer*/
  div.navigation nav{
    max-width: 100vw;
    width: 100vw;
    align-items: center;
    text-align: center;
    position: fixed;
    left: 0px;
  }
  /*Aufbau Nav im Container*/
  div.navigation nav li.sml{
    left: var(--ga-around);
  }
  /******************************************/
  /*INHALTSSEITEN****************************/
  /******************************************/
  section.maincontainer#contentpage,
  section.maincontainer#error{
    background-color: var(--co-hauptfarbe);
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  section.maincontainer#error{
    text-align: center;
  }
  section.maincontainer#choosemode>:first-child{
    text-align: center;
    width: 100%;
  }
  section.maincontainer#choosemode>:last-child{
    text-align: center;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
  }
}