@import "root.css";

.placeDot{
  width: 0.6em;
  height: 0.6em;
  background-color: var(--co-hauptfarbe);
  border-radius: 50%;
}

.placeDotEnd{
    background-color: var(--co-positiv);
}

.mapboxgl-ctrl-logo,
.mapboxgl-ctrl-bottom-right{
    display: none !important;
}
.mapboxgl-canvas:focus{
    outline: none;
}

#mapButtons button{
    max-width: 2.5em;
    background-color: var(--co-hauptfarbe-50);
    border: none;
}

#map{
    cursor: pointer;
    z-index: 0;
}