/******************************************/
/*DOTS*************************************/
/******************************************/
@keyframes flashlight {
    from {border: 1px solid var(--co-negativ);}
    to {border: 1px solid var(--co-akzent-fancy);}
  }
.placeDot{
  width: 0.6em;
  height: 0.6em;
  background-color: var(--co-hauptfarbe);
  border-radius: 50%;
}
.placeDotEnd{
    background-color: var(--co-akzent-fancy);
    opacity: 1 !important;
}
div.mapboxgl-canvas-container span.old{
    opacity: 0.2;
}
div.mapboxgl-canvas-container span{
    opacity: 0.5;
}
div.mapboxgl-canvas-container .placeNow{
    opacity: 1;
    width: 0.9em;
    height: 0.9em;
    border: 1px solid var(--co-negativ);
    animation: flashlight 0.5s ease 0s infinite alternate;
}


/******************************************/
/*CONTAINER********************************/
/******************************************/
div#map{
    width: 100vw; 
    height: 300px; 
    z-index: 0;
}
.mapboxgl-ctrl-logo,
.mapboxgl-ctrl-bottom-right{
    display: none !important;
}
.mapboxgl-canvas:focus{
    outline: none;
}
article.ct_map{
    overflow-x: hidden;
}
div#map{
    transform: scale(1.1);
    overflow-x: hidden;
}


/******************************************/
/*BUTTONS**********************************/
/******************************************/
#mapButtons{
    position: absolute;
    width: var(--sz-w-minusgaps);
    margin: -60px var(--ga-sml) 0 var(--ga-sml);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
#mapButtons div{
    padding: 5px;
    width: 40px;
    height: 40px;
    object-fit: contain;
    background-color: var(--co-negativ);
    border: 2px solid var(--co-hauptfarbe);
}
#mapButtons div:not(:last-of-type){
    margin-right: 10px;
}
#map{
    cursor: pointer;
    z-index: 0;
    -ms-overflow-style: none;
    scrollbar-width: none;
}


/******************************************/
/*ICONS************************************/
/******************************************/
.st0{
    fill:var(--co-hauptfarbe);
  }
.st1{
    fill:var(--co-hauptfarbe-50);
}


/******************************************/
/*DESKTOP**********************************/
/******************************************/
@media only screen and (min-width: 1024px) {
    
}