/*buttons*/
button{
    border-radius: 0px;
}
/*form fields*/
::placeholder { 
    color: inherit;
    opacity: 0.5;
}
input[type="submit"]{
    border-radius: 0px;
}
:focus{
    outline: none;
}
/*page behaviuor*/
html {
    scroll-behavior: smooth;
}
body{
    overflow-y: scroll;
    overflow-x: hidden;
}
/*links*/
body section.maincontainer a{
    color: inherit;
    text-decoration: none;
}
/*mark color*/
::selection {
    background: var(--co-hauptfarbe);
    color: var(--co-hauptfarbe-50);
}
::-moz-selection {
    background: var(--co-hauptfarbe);
    color: var(--co-hauptfarbe-50);
}
/*Klassen*/
.hide{
    display: none;
}
.fixed{
    position:fixed;
  }