/*VARIABELN**************************/
:root{
  /*Farben*/
  --co-hauptfarbe: #27348B;
  --co-hauptfarbe-80: #4D5AB5;
  --co-hauptfarbe-50: #9FA6DB;
  --co-akzent-neg: #EB0001;
  --co-akzent-pos: #BBE01D;
  --co-positiv: #000000;
  --co-negativ: #ffffff;
}
